/* Full screen loader */
.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* light background */
}

.loaderText {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #0d6efd;
}

/* Table loader */
.tableLoaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.tableLoaderText {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: #198754;
}

/* Optional: Add animation to spinner if you want custom size */
.customSpinner {
  width: 3rem;
  height: 3rem;
  border-width: 0.35em;
}
